@font-face {
  font-family: "Farro";
  src: url("../assets/fonts/Farro-Light.woff2") format("woff2"),
    url("../assets/fonts/Farro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Francois One";
  src: url("../assets/fonts/FrancoisOne-Regular.woff2") format("woff2"),
    url("../assets/fonts/FrancoisOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../assets/fonts/PTSans-Regular.woff2") format("woff2"),
    url("../assets/fonts/PTSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../assets/fonts/PTSans-Italic.woff2") format("woff2"),
    url("../assets/fonts/PTSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../assets/fonts/PTSans-Bold.woff2") format("woff2"),
    url("../assets/fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Staatliches";
  src: url("../assets/fonts/Staatliches-Regular.woff2") format("woff2"),
    url("../assets/fonts/Staatliches-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tourney";
  src: url("../assets/fonts/Tourney-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/Tourney-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "PT-Regular", sans-serif;
  font-size: 28px;
  line-height: 1.7;
  font-weight: 400;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__lang {
  font-family: "Tourney", sans-serif;
  font-size: 22px;
  line-height: 0.8;
  margin-right: 20px;
}

.nav__item {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav__item-link {
  font-family: "Staatliches", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  position: relative;
}

.nav__item-link:not(:last-child)::before {
  position: absolute;
  content: '/';
  right: -18px;
}

.content__wrapper {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  z-index: 10;
}

.content {
  padding: 70px;
  padding-top: 184px;
  background-image: url("../assets/img/bg.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: right 164px;
}

.content__box {
  width: calc(70% - 30px);
  counter-reset: chapter;
  z-index: 10;
}



.content__box-item {
  counter-increment: chapter;
}

.content__box-item:not(:last-child) {
  margin-bottom: 70px;
}

.content__box-item__title {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
  padding-top: 20px;
  position: relative;
}

.title {
  font-family: "Francois One", sans-serif;
  font-size: 36px;
  line-height: 1.3;
  text-transform: uppercase;
}


.content__box-line__decoration {
  text-decoration-line: underline;
}

.text-mb {
  margin-bottom: 40px;
}

.box__text-bolder {
  font-weight: 800;
}

.box__text-background {
  background-color: #c0c0c0;
  padding: 5px 0;
}

.box__text-icon {
  background-image: url();
}

.content__menu {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: 5px;
  position: sticky;
  top: 114px;
}

.content__menu-link {
  display: block;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #BDBDBD;
}

.content__box-chapter::after {
  content: "Chapter " counter(chapter);
  font-family: "Farro", sans-serif;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  text-transform: none;
  display: inline-block;
  transform: translateY(-20px);
}

.content__box-title::before {
  position: absolute;
  content: '';
  width: 100px;
  height: 8px;
  background-color: black;
  top: 0;
  left: 0;
}